<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <strong>List of user messages</strong>
        <ul>
            {% for msg in messages %}
                <li> {{ msg }} </li>
            {% endfor %}
        </ul>

        <form action="/messages" method=post>
            <p>
                Message to send:
                <input type=text name=msg size=50>
                <input type=submit value="Submit">
            </p>
        </form>
    </body>
</html>
